{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<div class="col-sm-10">
    <h3 class="text-black my-5">About Page</h3>

  <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
     In quasi ullam nam magnam est. Aut ad, architecto aspernatur tenetur enim pariatur animi dolor 
     facilis possimus vel voluptatem repellat quidem voluptates?</p>

     <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Recusandae consequuntur esse rem illo a dignissimos eum sunt, 
        assumenda maxime optio! Nemo laudantium aperiam asperiores similique. 
        Incidunt repudiandae dignissimos corrupti eaque totam animi pariatur aperiam ea numquam rem? Inventore, 
        atque distinctio blanditiis nostrum delectus vitae obcaecati voluptatum assumenda, maiores culpa possimus!</p>
</div>

{% endblock content %}